* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
    
}
body{
    background: whitesmoke;
}

#qr{
    position:absolute;
    height: 85px;
    width: auto;
    margin: 7.5px;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
}

h2{
    font-family: 'Montserrat', sans-serif;
font-size: 1.5em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 2em;
}

p{
    font-size: 1.3em;
}

main {
    box-sizing: border-box;
    display: block;
    background: #f2f2f2;
    align-items: center;
}

nav {
    display:flex;
    position:sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: #4D774E;
    padding: 1.5vh;
}

nav {
    display:flex;
    position:sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    background-color: #4D774E;
    padding: 1.5vh;
}

#actual{
    margin: 0 10px;
    padding: .8vh;
    text-decoration: none;
    background: whitesmoke;
    color: #333;
    border-radius: .5vh;

}

nav a {
    margin: 0 10px;
    padding: .8vh;
    text-decoration: none;
    color: #333;
    border-radius: .5vh;
}

nav a:first-child {
    margin-left: 5vh;
}

nav a:last-child {
    margin-right: 5vh;
}

nav a:hover {
    background: #698B69;
    box-shadow: 5px 5px #3c503c;
    color: #f2f2f2;
    text-decoration: none;
}


header {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-size-adjust: 20vh;
    background: #698B69;
}

.concepto {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    
}

.temas{
    width: auto;
    height: auto;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.imagen{
    width: 300px;
    height: 300px;
    
}

img{
    border-radius: 5%;
}



/*--------------------footer-----------------*/
footer {
    background-color: #292929;
    color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.social-media li {
    margin-bottom: 5px;
}


.button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}

/*------------------------------------------@media-------------------------------------------*/
/* Estilos para resoluciones mayores a 2048x */
@media (max-width: 2048px) {
   

    h1{
    
        font-size: 5em;
    }
    
    h2{
    font-size: 1.5em;
    }
    
    h3{
        font-size: 1.5em;
    }
    
    h4{
        font-size: 2em;
    }
    
    p{
        font-size: 1.4em;
        width: 700px;
        
    }

    main{
        margin-left: 25%;
        margin-right: 25%;

    }

    .imagen{
        width: auto;
        height: auto;
        
    }
    
}


/* Estilos para resoluciones menores 1600px */
@media (max-width: 1600px) {
   

    h1{
    
        font-size: 5.2em;
    }
    
    h2{
    font-size: 1.7em;
    }
    
    h3{
        font-size: 1.7em;
    }
    
    h4{
        font-size: 2.2em;
    }
    
    p{
        font-size: 1.5em;
    }

    main{
        margin-left: 25%;
        margin-right: 25%;

    }

    .imagen{
        width: auto;
        height: auto;
        
    }
}

/* Estilos para resoluciones menores 1024px */
@media (max-width: 1024px) {
   

    h1{
    
        font-size: 5.2em;
    }
    
    h2{
    font-size: 1.7em;
    }
    
    h3{
        font-size: 1.7em;
    }
    
    h4{
        font-size: 2.2em;
    }
    
    p{
        font-size: 1.5em;
    }

    main{
        margin-left: 1%;
        margin-right: 1%;

    }

    .imagen{
        width: 300px;
        height: auto;
        
    }

    .concepto {
        width: 700px;
        height: auto;
        padding: 20px;
        display: flex;
        
    }
}

/* Estilos para resoluciones menores 768px */
@media (max-width: 768px) {
   

    h1{
    
        font-size: 5.8em;
    }
    
    h2{
    font-size: 2em;
    }
    
    h3{
        font-size: 1.7em;
    }
    
    h4{
        font-size: 2.5em;
    }
    
    p{
        font-size: 2em;
        margin-bottom: 5%;
    }

    #qr{
width: 0;
    }

    footer{
        display: block;
    }

}

/* Estilos para resoluciones menores 480px */
@media (max-width: 480px) {
   

    h1{
    
        font-size: 5.2em;
    }
    
    h2{
    font-size: 2em;
    }
    
    h3{
        font-size: 1.7em;
    }
    
    h4{
        font-size: 1em;
    }
    
    p{
        font-size: 2em;
        margin: 0;
        margin-bottom: 5%;
        width: auto;
    }

    #qr{
width: 0;
    }

    .concepto {
       display: block;
       width: auto;


        
    }

    main{
        margin: 0;
    }

    footer{
        display: block;
    }
}
